[submodule "openssl"]
	path = openssl
	url = https://github.com/pocoproject/openssl.git
	branch = develop

[submodule "gradle"]
	path = gradle
	url = https://github.com/pocoproject/gradle.git
	branch = Gradle-4.9
