[submodule "openssl"]
	path = openssl
	url = https://github.com/pocoproject/openssl
	branch = develop

[submodule "gradle"]
	path = gradle
	url = https://github.com/pocoproject/gradle
	branch = gradle-5.2
