# Build-time symlinks to bundled libraries (zlib, png, hpdf)
# Created by prebuild step in Makefile when POCO_UNBUNDLED is not set

# zlib
src/adler32.c
src/compress.c
src/crc32.c
src/crc32.h
src/deflate.c
src/deflate.h
src/gzguts.h
src/infback.c
src/inffast.c
src/inffast.h
src/inffixed.h
src/inflate.c
src/inflate.h
src/inftrees.c
src/inftrees.h
src/trees.c
src/trees.h
src/zconf.h
src/zlib.h
src/zutil.c
src/zutil.h

# libpng
src/png.c
src/png.h
src/pngconf.h
src/pngdebug.h
src/pngerror.c
src/pngget.c
src/pnginfo.h
src/pnglibconf.h
src/pngmem.c
src/pngpread.c
src/pngpriv.h
src/pngread.c
src/pngrio.c
src/pngrtran.c
src/pngrutil.c
src/pngset.c
src/pngstruct.h
src/pngtest.c
src/pngtrans.c
src/pngwio.c
src/pngwrite.c
src/pngwtran.c
src/pngwutil.c

# libharu (hpdf)
src/hpdf.h
src/hpdf_*.c
src/hpdf_*.h
src/t4.h
