# To enable retrying a job on failure or a specific timeout, instead of the run step, use uses: nick-fields/retry@v2.9.0(see the linux-gcc-make-tsan jsob)
# To retry only on timeout set retry_on: timeout
# To retry only on error set retry_on: error
# For more information on the retry action see https://github.com/nick-fields/retry

name: Compile and Testrun

on:
  pull_request:
  push:
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  nix-gcc-make-odbc-sqlserver:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Install uidmap for rootless podman
        run: sudo apt-get update && sudo apt-get install -y uidmap

      - name: Configure subuid/subgid for rootless podman
        run: |
          sudo usermod --add-subuids 100000-165535 --add-subgids 100000-165535 $USER

      - uses: ./.github/actions/retry-action
        with:
          timeout_minutes: 90
          max_attempts: 3
          retry_on: any
          command: nix-shell Data/ODBC/mssql.nix --pure --run "build_and_test"

  nix-gcc-make-odbc-oracle:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Install uidmap for rootless podman
        run: sudo apt-get update && sudo apt-get install -y uidmap

      - name: Configure subuid/subgid for rootless podman
        run: |
          sudo usermod --add-subuids 100000-165535 --add-subgids 100000-165535 $USER

      - uses: ./.github/actions/retry-action
        with:
          timeout_minutes: 90
          max_attempts: 3
          retry_on: any
          command: nix-shell Data/ODBC/oracle.nix --pure --run "build_and_test"
