name: poco-ci
on: [push]
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  linux-gcc-make:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - run: sudo apt update && sudo apt install libssl-dev unixodbc-dev libmysqlclient-dev redis-server
      - run: ./configure --everything --omit=PDF && make all -s -j4 && sudo make install
      - run: >-
          sudo -s
          EXCLUDE_TESTS="Data/MySQL Data/ODBC Data/PostgreSQL MongoDB"
          ./ci/runtests.sh

  linux-gcc-make-asan:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - run: sudo apt update && sudo apt install libssl-dev unixodbc-dev libmysqlclient-dev redis-server
      - run: ./configure --everything --omit=PDF && make all -s -j4 SANITIZEFLAGS=-fsanitize=address && sudo make install
      - run: >-
          sudo -s
          EXCLUDE_TESTS="Data/MySQL Data/ODBC Data/PostgreSQL MongoDB"
          ./ci/runtests.sh

  linux-gcc-make-ubsan:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - run: sudo apt update && sudo apt install libssl-dev unixodbc-dev libmysqlclient-dev redis-server
      - run: ./configure --everything --omit=PDF && make all -s -j4 SANITIZEFLAGS=-fsanitize=undefined && sudo make install
      - run: >-
          sudo -s
          EXCLUDE_TESTS="Data/MySQL Data/ODBC Data/PostgreSQL MongoDB"
          ./ci/runtests.sh

  linux-gcc-cmake:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - run: sudo apt update && sudo apt install cmake ninja-build libssl-dev unixodbc-dev libmysqlclient-dev redis-server
      - run: cmake -H. -Bcmake-build -GNinja -DENABLE_PDF=OFF -DENABLE_TESTS=ON && cmake --build cmake-build --target all
      - run: >-
          cd cmake-build &&
          sudo -s
          PWD=`pwd`
          ctest --output-on-failure -E "(DataMySQL)|(DataODBC)|(PostgreSQL)|(MongoDB)"

  linux-gcc-make-cross-armhf:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - run: >-
          sudo apt-get update &&
          sudo apt-get install crossbuild-essential-armhf
      - run: >-
          ./configure --config=ARM-Linux --everything --omit=PDF,Crypto,NetSSL_OpenSSL,JWT,Data/MySQL,Data/ODBC,Data/PostgreSQL,PageCompiler,PageCompiler/File2Page &&
          make all -s -j4 ARCHFLAGS="-mcpu=cortex-a8 -mfloat-abi=hard -mfpu=neon" TOOL=arm-linux-gnueabihf

  macos-clang-make:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - run: brew install openssl@1.1 mysql-client unixodbc libpq
      - run: ./configure --everything --no-prefix --omit=PDF --odbc-include=/usr/local/opt/unixodbc/include --odbc-lib=/usr/local/opt/unixodbc/lib && make all -s -j4
      - run: >-
          sudo -s
          CPPUNIT_IGNORE="CppUnit::TestCaller<ThreadTest>.testTrySleep,CppUnit::TestCaller<TimestampTest>.testTimestamp,CppUnit::TestCaller<ExpireLRUCacheTest>.testExpireN,CppUnit::TestCaller<ExpireLRUCacheTest>.testAccessExpireN,CppUnit::TestCaller<Uniqu>.pireLRUCacheTestEE.testExpireN,CppUnit::TestCaller<ExpireLRUCacheTest>.testAccessExpireN,CppUnit::TestCaller<PollSetTest>.testPollClosedServer,CppUnit::TestCaller<SyslogTest>.testOldBSD"
          EXCLUDE_TESTS="Redis Data/MySQL Data/ODBC Data/PostgreSQL MongoDB PDF"
          ./ci/runtests.sh

  macos-clang-cmake:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - run: brew install openssl@1.1 mysql-client unixodbc libpq
      - run: cmake -H. -Bcmake-build -DENABLE_PDF=OFF -DENABLE_TESTS=ON -DOPENSSL_ROOT_DIR=/usr/local/opt/openssl@1.1 -DMYSQL_ROOT_DIR=/usr/local/opt/mysql-client && cmake --build cmake-build --target all
      - run: >-
          cd cmake-build &&
          sudo -s
          CPPUNIT_IGNORE="CppUnit::TestCaller<ThreadTest>.testTrySleep,CppUnit::TestCaller<TimestampTest>.testTimestamp,CppUnit::TestCaller<ExpireLRUCacheTest>.testExpireN,CppUnit::TestCaller<ExpireLRUCacheTest>.testAccessExpireN,CppUnit::TestCaller<Uniqu>.pireLRUCacheTestEE.testExpireN,CppUnit::TestCaller<ExpireLRUCacheTest>.testAccessExpireN,CppUnit::TestCaller<PollSetTest>.testPollClosedServer,CppUnit::TestCaller<SyslogTest>.testOldBSD"
          PWD=`pwd`
          ctest --output-on-failure -E "(DataMySQL)|(DataODBC)|(PostgreSQL)|(MongoDB)|(Redis)"

  macos-clang-cmake-openssl3:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - run: brew install openssl@3 mysql-client unixodbc libpq
      - run: cmake -H. -Bcmake-build -DENABLE_PDF=OFF -DENABLE_TESTS=ON -DOPENSSL_ROOT_DIR=/usr/local/opt/openssl@3 -DMYSQL_ROOT_DIR=/usr/local/opt/mysql-client && cmake --build cmake-build --target all
      - run: >-
          cd cmake-build &&
          sudo -s
          CPPUNIT_IGNORE="CppUnit::TestCaller<ThreadTest>.testTrySleep,CppUnit::TestCaller<TimestampTest>.testTimestamp,CppUnit::TestCaller<ExpireLRUCacheTest>.testExpireN,CppUnit::TestCaller<ExpireLRUCacheTest>.testAccessExpireN,CppUnit::TestCaller<Uniqu>.pireLRUCacheTestEE.testExpireN,CppUnit::TestCaller<ExpireLRUCacheTest>.testAccessExpireN,CppUnit::TestCaller<PollSetTest>.testPollClosedServer,CppUnit::TestCaller<SyslogTest>.testOldBSD"
          PWD=`pwd`
          ctest --output-on-failure -E "(DataMySQL)|(DataODBC)|(PostgreSQL)|(MongoDB)|(Redis)"

  windows-2019-msvc-cmake:
    runs-on: windows-2019
    env:
      CPPUNIT_IGNORE: class CppUnit::TestCaller<class PathTest>.testFind,class CppUnit::TestCaller<class ICMPSocketTest>.testSendToReceiveFrom,class CppUnit::TestCaller<class ICMPClientTest>.testPing,class CppUnit::TestCaller<class ICMPClientTest>.testBigPing,class CppUnit::TestCaller<class ICMPSocketTest>.testMTU,class CppUnit::TestCaller<class HTTPSClientSessionTest>.testProxy,class CppUnit::TestCaller<class HTTPSStreamFactoryTest>.testProxy
    steps:
      - uses: actions/checkout@v3
      - run: cmake -S. -Bcmake-build -DENABLE_NETSSL_WIN=ON -DENABLE_NETSSL=OFF -DENABLE_CRYPTO=OFF -DENABLE_JWT=OFF -DENABLE_DATA=ON -DENABLE_DATA_ODBC=ON -DENABLE_DATA_MYSQL=OFF -DENABLE_DATA_POSTGRESQL=OFF -DENABLE_TESTS=ON
      - run: cmake --build cmake-build --config Release
      - run: >-
          cd cmake-build;
          ctest --output-on-failure -E "(DataMySQL)|(DataODBC)|(Redis)|(MongoDB)" -C Release

  windows-2022-msvc-cmake:
    runs-on: windows-2022
    env:
      CPPUNIT_IGNORE: class CppUnit::TestCaller<class PathTest>.testFind,class CppUnit::TestCaller<class ICMPSocketTest>.testSendToReceiveFrom,class CppUnit::TestCaller<class ICMPClientTest>.testPing,class CppUnit::TestCaller<class ICMPClientTest>.testBigPing,class CppUnit::TestCaller<class ICMPSocketTest>.testMTU,class CppUnit::TestCaller<class HTTPSClientSessionTest>.testProxy,class CppUnit::TestCaller<class HTTPSStreamFactoryTest>.testProxy
    steps:
      - uses: actions/checkout@v3
      - run: cmake -S. -Bcmake-build -DENABLE_NETSSL_WIN=ON -DENABLE_NETSSL=OFF -DENABLE_CRYPTO=OFF -DENABLE_JWT=OFF -DENABLE_DATA=ON -DENABLE_DATA_ODBC=ON -DENABLE_DATA_MYSQL=OFF -DENABLE_DATA_POSTGRESQL=OFF -DENABLE_TESTS=ON
      - run: cmake --build cmake-build --config Release
      - run: >-
          cd cmake-build;
          ctest --output-on-failure -E "(DataMySQL)|(DataODBC)|(Redis)|(MongoDB)" -C Release
